@model IEnumerable<MyLibraryManagementSystem.Models.Loan>
<h2>Active Loans</h2>
<p><a asp-action="Borrow">Borrow Book</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>User</th>
            <th>Loan Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Book.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.LoanDate)</td>
                <td>
                    <a asp-action="Return" asp-route-id="@item.Id">Return</a>
                </td>
            </tr>
        }
    </tbody>
</table>